.header {
  position: relative;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  background: #138935;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 20px;
}
