.textbox {
  border: 1px solid #f3f3f3;
  height: 2rem;
  box-sizing: border-box;
  padding: 1px 10px;
  outline: none;
  transition: 0.2s ease-in-out;
}

.textbox:focus {
  transition: 0.2s ease-in-out;
  border: 1px solid rgb(0, 202, 61);
}

.home-body {
  margin: 0 auto;
  padding: 20px;
  max-width: 800px;
}

.searchForm {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.textbox {
  border: 1px solid #f3f3f3;
  height: 2rem;
  outline: none;
  box-sizing: border-box;
  padding: 1px 10px;
  transition: 0.2s ease-in-out;
  width: 100%;
}

.textbox:focus {
  border: 1px solid rgb(0, 255, 89);
  transition: 0.2s ease-in-out;
}

.searchButton {
  display: block;
  width: 100%;
  margin-top: 8px;
  background-color: #35ff4d;
  border: none;
  color: white;
  height: 2.5rem;
  cursor: pointer;
}
